@page "/AboutUs"

<PageTitle>TurboZone - Nosotros</PageTitle>

<div class="banner-cont">
    <img class="banner" src="Images/sobrenosotros.png" alt="Contactanos Banner" />
    <h1>NOSOTROS</h1>
</div>

<div class="cuerpo-nosotros">
    <div class="izq-panel-nosotros">
        <img class="nosotros" src="Images/nosotrosdesc.jpg" alt="Contactanos Banner" />
    </div>
    <div class="drch-panel-nosotros">
        <table>
            <tbody>
                <tr>
                    <td class="acercadenosotros">Acerca de Nosotros</td>
                </tr>
                <tr>
                    <td>
                        <h1 class="elmayor">
                            El <span class="resaltar-rojo">mayor</span> mercado de<br>
                            <span class="resaltar-rojo">autos</span> en línea
                        </h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        TurboZone es una empresa dedicada a la venta de<br>vehículos de motor nuevos y usados de las mejores<br>marcas del mercado.<br>
                        Conformada por un equipo experimentado y<br>
                        apasionado, TurboZone se ha posicionado como líder<br>en ventas y servicio, ofreciendo una experiencia de<br>compra superior y enfocada en la satisfacción del<br>cliente.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="elegirnos">
        <img class="banner" src="Images/fondonosotros.png" alt="Contactanos Banner" />
        <div class="contenido-superpuesto">
            <table>
                <tbody>
                    <!-- Logo -->
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <img src="Images/LogoBW.png" alt="Logo TurboZone" width="100" height="75" />
                        </td>
                    </tr>
                    <!-- Título -->
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <h1>¿Por qué elegirnos?</h1>
                        </td>
                    </tr>
                    <!-- Descripción -->
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <p>
                                En TurboZone, estamos comprometidos con la excelencia. Proporcionando un servicio<br>
                                confiable y eficiente. Nos destacamos por nuestro compromiso con la satisfacción del cliente<br>
                                y una experiencia de compra excepcional.
                            </p>
                        </td>
                    </tr>
                    <!-- Sección de 2 filas y 2 columnas -->
                    <tr>
                        <td class="icon-text">
                            <img src="Images/icon1.png" alt="Icono 1" width="50" />
                            <h3>Más de 30 años en el negocio</h3>
                            <p>Contamos con una sólida trayectoria y experiencia en el mercado automotriz.</p>
                        </td>
                        <td class="icon-text">
                            <img src="Images/icon2.png" alt="Icono 2" width="50" />
                            <h3>Encuentra el auto de tus sueños</h3>
                            <p>Con nosotros, localizar el vehículo perfecto es fácil y accesible.</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="icon-text">
                            <img src="Images/icon3.png" alt="Icono 3" width="50" />
                            <h3>Todos los vehículos con garantía de calidad</h3>
                            <p>Cada auto pasa por rigurosas inspecciones para garantizar su excelente estado.</p>
                        </td>
                        <td class="icon-text">
                            <img src="Images/icon4.png" alt="Icono 4" width="50" />
                            <h3>Precios bajos y grandes ahorros</h3>
                            <p>Ofrecemos precios competitivos y promociones que se ajustan a tu presupuesto.</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>