@page "/ContactUs"

<PageTitle>TurboZone - Contáctanos</PageTitle>

<div class="banner-cont">
    <img class="banner" src="Images/contactanos banner.jpg" alt="Contactanos Banner"/>
    <h1>Contáctanos</h1>
</div>

<div class="cuerpo-contactanos">
    <div class="izq-panel">
        <div class="info-contacto">
            <h2 class="titulo-contacto">Información de contacto</h2>
            <div class="info-detallada">
                <div class="telefono">
                    <img class="telefono-icon" src="Images/PhoneIcon.png" alt="Phone Icon"/>
                    <div class="textinf">
                        <h3>Teléfono</h3>
                        <p>(809)-555-1234</p>
                    </div>
                </div>
                <div class="email">
                    <img class="email-icon" src="Images/EmailIcon.png" alt="Email Icon"/>
                    <div class="textinf">
                        <h3>Email</h3>
                        <p>info@turbozone.com</p>
                    </div>
                </div>
                <div class="horario">
                    <img class="horario-icon" src="Images/ClockIcon.png" alt="Clock Icon"/>
                    <div class="textinf">
                        <h3>Horario</h3>
                        <p>Lunes a Viernes: 8:00 a.m. - 6:00 p.m. <br />Sábados: 9:00 a.m. - 2:00 p.m. <br />Domingos: Cerrado</p>
                    </div>
                </div>
            </div>
        </div>
            <div class="redes-sociales">
                <h2 class="titulo-redes">Redes sociales</h2>
                <div class="redes-disp">
                    <a href="https://www.instagram.com/"><img class="instagram" src="Images/InstagramIcon.png" alt="Instagram" /></a>
                    <a href="https://www.facebook.com/"><img class="facebook" src="Images/FacebookIcon.png" alt="Facebook" /></a>
                    <a href="https://x.com/home"><img class="x" src="Images/XIcon.png" alt="X" /></a>
                    <a href="https://www.tiktok.com/es/"><img class="tiktok" src="Images/TiktokIcon.png" alt="Tiktok" /></a>
                    <a href="https://www.threads.net/?hl=es-la"><img class="threads" src="Images/ThreadsIcon.png" alt="Threads" /></a>
                </div>
            </div>
    </div>
    <div class="drch-panel">
        <div class="envianos-mensaje">
            <h2 class="titulo-msg">Habla con nosotros</h2>
            <div class="contenedor-formulario">
                <form class="formulario-msg">
                    <div class="inputsss">
                        <input class="nombre-form" type="text" name="nombre" placeholder="Nombre(s)" required />
                        <input class="apellidos-form" type="text" name="apellidos" placeholder="Apellidos" required />
                        <input class="email-form" type="email" name="email" placeholder="ejemplo@dominio.com" required />
                        <input class="tel-form" type="tel" name="telefono" placeholder="809-000-0000" required />
                    </div>
                    <textarea class="msg-form" name="mensaje" rows="4" cols="50" placeholder="¿Que quieres contarnos?..." required></textarea>
                    <div class="area-btn-enviar">
                        <button class="enviar-btn" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>